/*
Order:
Plugins run before Presets.
Plugin ordering is first to last.
Preset ordering is reversed (last to first).

React preset => includes flow preset which includes transform-flow-strip-types(removes flow types)

We can use the env option to set specific options when in a certain environment. Options specific to a certain environment are merged into and overwrite non-env specific options. Presets do not merge if you define presets in an env.
*/

{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins":[
    "react-hot-loader/babel",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack.config.babel.js" } ]
      ]
    }
  }
}
