/* it's best to define global styles here, for example: <body>, <html>, media queries... */
$background-color: $gray;

body {
  font-size: 16px;
  background-color: $background-color;
}

@media (min-width: 576px) {
  body {
    font-size: 1.2rem;
  }
}
