// To override some of bootstrap elements with high specificity we neste everything inside class container to increase specificity of our classes.
// If needed we can increase it even more using further nesting or by chaining selector by itself ex. .btn.btn {}

/* Home scene */
$text-color: $lightblue;

.container {

  .align-center {
    text-align: center;
  }

  h2 {
    color: $text-color;
  }

  .imageRotate {
    margin: 50px;
    width: 300px;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    transform-style: preserve-3d;
  }

  @keyframes spinner {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }


}

